<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- 请求URL地址 -->
    <add key="ReuqestUrl" value="C:\Users\yangzhijie\Pictures" />
    <!-- 请求间隔时间 -->
    <add key="IntervalTime" value="200"/> 
  </appSettings>
</configuration>